<div id="lightbox">
    <div class="container">
        <div id="lightbox_outter_content_wrap">
            <div id="lightbox_outter_content">
                <div class="lightbox_button_wrap lightbox_button_wrap_right">
                    <div class="lightbox_buttons top_lightbox_buttons">
                        <div class="lightbox_button">
                            <div class="button_icon" id="button_icon_close"></div>
                        </div>
                    </div>
                </div>
                <div id="lightbox_inner_content_wrap">
                    <div id="lightbox_inner_content">
                        <div id="lightbox_content">
                            <h3>Official Citation</h3>
                            <p>The President of the United States of America, authorized by Act of Congress, March 3, 1863, has awarded in the name of Congress the Medal of Honor to</p>
                            <h3 id="citation_title">Private Henry Johnson</h3>
                            <h4 id="citation_subtitle">United States Army</h4>
                            <p>For conspicuous gallantry and intrepidity at the risk of his life above and beyond the call of duty:</p>
                            <p>Private Johnson distinguished himself by acts of gallantry and intrepidity above and beyond the call of duty while serving as a member of Company C, 369th Infantry Regiment, 93rd Division, American Expeditionary Forces, during
                                combat operations against the enemy on the front lines of the Western Front in France on May 15, 1918. Private Johnson and another soldier were on sentry duty at a forward outpost when they received a surprise attack from
                                a German raiding party consisting of at least 12 soldiers. While under intense enemy fire and despite receiving significant wounds, Private Johnson mounted a brave retaliation, resulting in several enemy casualties. When
                                his fellow soldier was badly wounded, Private Johnson prevented him from being taken prisoner by German forces. Private Johnson exposed himself to grave danger by advancing from his position to engage an enemy soldier in
                                hand-to-hand combat. Wielding only a knife and gravely wounded himself, Private Johnson continued fighting and took his Bolo knife and stabbed it through an enemy soldier’s head. Displaying great courage, Private Johnson
                                held back the enemy force until they retreated. Private Johnson’s extraordinary heroism and selflessness above and beyond the call of duty are in keeping with the highest traditions of military service and reflect great
                                credit upon himself, his unit and the United States Army.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>