.footerWrap {

	.footer {
		height: 100%;
		width: 100%;
		@include row();
		
		.container{
			padding-bottom: 30px;
			@include breakpoint (mobile) {
				padding-bottom: 45px;
			}
		}
		
		.footer_block_container{
			@include span(11);
			@include breakpoint (mobile) {
				@include span(12);
			}
			@include breakpoint(tablet) {
				margin-bottom: 50px;
			}
		}

		.footer_block {
		
			padding-top: 30px;
			padding-right: 3%;
			float: left;
			@include span(4);
			
			&.logo{
				@include span(1);
				img{
					float: right;
				}
			}

			@include breakpoint(mobile){
				@include span(12);
				&.logo{
					img{
						float: none;
					}
					padding-bottom: 30px;
				}
			}
		}

		.footerheading {
			border-bottom: none;
			color: #fff;
			cursor: default;
			font-size: 0.875em;
			font-weight: bold;
			padding-bottom: 10px;
			@include breakpoint(mobile){
				border-bottom: 1px solid #fff;
				cursor: pointer;
			}

			.expand{
				display: none;
				float: right;
				padding-right: 5px;
				@include breakpoint(mobile){ display: block; }
			}
		}

		ul {
			display: inline-block;
			color: #fff;
			font-size: 0.75em;
			list-style: none;
			@include breakpoint(mobile){ display: none; }
			&.active{
				display:inline-block;
			}

			li {
				line-height: 1.2em;
				padding-top: .5em;
				a {
					@include linkUnderline();
					color: lighten($accent_color, 10);
				}
			}
		}
	}
}
