$path: "/e2/rv5_images/medalofhonor/johnson/";
$yt-path: "/e2/rv5_images/youtube_player/";

$sprite: $path + "sprite.png";

$yt-sprite: $yt-path + "yt_sprite.png";

$audio-svg: $yt-path + "audio.svg";
$audio-png: $yt-path + "audio.png";

//Logos
$logo: $path + "graphics/logo/johnson_logo_2x.png";
$stacked-logo: $path + "graphics/logo/johnson_logo_stacked_2x.png";
$stacked-logo-abbrev: $path + "graphics/logo/johnson_logo_stacked_2x.png";

//Logo sprite
$logo-sprite: $path + "graphics/logo/johnson_logo_sprite.png";

//Lightbox
$lightbox-background: $path + "bg.png";

$close-button-png: $path + "graphics/close.png";
$close-button-svg: $path + "graphics/close.svg";

$close-button-hover-png: $path + "graphics/close_hover.png";
$close-button-hover-svg: $path + "graphics/close_hover.svg";

//Profile
$masthead-logo-SVG: $path + "graphics/logo_masthead.svg";
$masthead-logo-PNG: $path + "graphics/logo_masthead.png";

//Download Icon
$download-png: $path + "graphics/download.png";
$download-svg: $path + "graphics/download.svg";

//Multimedia:
$multimedia-overlay-background: $path + "graphics/image_hover.png";

$info-moh-total-png: $path + "graphics/info/124.png";
$info-moh-total-svg: $path + "graphics/info/124.svg";

$info-moh-army-png: $path + "graphics/info/95.png";
$info-moh-army-svg: $path + "graphics/info/95.svg";

$arrow-right-png: $path + "graphics/arrows/arrow_right.png";
$arrow-right-svg: $path + "graphics/arrows/arrow_right.svg";

$arrow-right-hover-png: $path + "graphics/arrows/arrow_right_hover.png";
$arrow-right-hover-svg: $path + "graphics/arrows/arrow_right_hover.svg";

$arrow-left-png: $path + "graphics/arrows/arrow_left.png";
$arrow-left-svg: $path + "graphics/arrows/arrow_left.svg";

$arrow-left-hover-png: $path + "graphics/arrows/arrow_left_hover.png";
$arrow-left-hover-svg: $path + "graphics/arrows/arrow_left_hover.svg";

//Mastheads:
$size-1: $path + "masthead/320.jpg";
$size-2: $path + "masthead/360.jpg";
$size-3: $path + "masthead/480.jpg";
$size-4: $path + "masthead/720.jpg";
$size-5: $path + "masthead/768.jpg";
$size-6: $path + "masthead/992.jpg";
$size-7: $path + "masthead/1024.jpg";
$size-8: $path + "masthead/1200.jpg";
$size-9: $path + "masthead/1280.jpg";
$size-10: $path + "masthead/1366.jpg";
$size-11: $path + "masthead/1440.jpg";
$size-12: $path + "masthead/1600.jpg";
$size-13: $path + "masthead/1680.jpg";
$size-14: $path + "masthead/1920.jpg";
$size-15: $path + "masthead/2500.jpg";

$headstone-size-1: $path + "headstone/320.jpg";
$headstone-size-2: $path + "headstone/360.jpg";
$headstone-size-3: $path + "headstone/480.jpg";
$headstone-size-4: $path + "headstone/720.jpg";
$headstone-size-5: $path + "headstone/768.jpg";
$headstone-size-6: $path + "headstone/992.jpg";
$headstone-size-7: $path + "headstone/1024.jpg";
$headstone-size-8: $path + "headstone/1200.jpg";
$headstone-size-9: $path + "headstone/1280.jpg";
$headstone-size-10: $path + "headstone/1366.jpg";
$headstone-size-11: $path + "headstone/1440.jpg";
$headstone-size-12: $path + "headstone/1600.jpg";
$headstone-size-13: $path + "headstone/1680.jpg";
$headstone-size-14: $path + "headstone/1920.jpg";
$headstone-size-15: $path + "headstone/2500.jpg";
