#lightbox{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include yep('rgba'){
		background-color:transparentize(black, 0.5);
	}
	@include nope('rgba'){
		background-image: url($lightbox_background);
	}
	background-repeat: repeat-x repeat-y;
	text-align: left;
	z-index: 9000;
	overflow-y: scroll;
	.container{
		overflow: hidden;
		min-height: 100%;
		@include breakpoint(mobile){
			padding-left: 0px;
			padding-right: 0px;
		}
		
		.center{
			text-align: center;
		}
		
		#lightbox_outter_content_wrap{
			@include row();
			height: 100%;
			position: static;
			overflow: hidden;
			#lightbox_outter_content{
				position: relative;
				.lightbox_button_wrap{
					width: 60px;
					overflow: hidden;
					position: absolute;
					right: 0;
					.lightbox_buttons{
						position: fixed;
						
						.lightbox_button{
							cursor: pointer;
							display: block;
							width: 60px;
							height: 62px;
							background-color: lighten($text_base_color, 20);
							overflow: hidden;
							.button_icon{
								width: 20px;
								height: 20px;
								display: block;
								margin-left: 20px;
								margin-top:20px;
							}
							#button_icon_close{
								background-repeat: no-repeat;
								background-position: center center;
								@include yep(svg){
									background-image: url($close_button_svg);
									
								}
								
								@include nope(svg){
									background-image: url($close_button_png);
								}

							}
                            
							#button_icon_next{
								background-repeat: no-repeat;
								@include yep(svg){
									background-image: url($arrow_right_svg);
								}
								
								@include nope(svg){
									background-image: url($arrow_right_png);
								}
								width: 13px;
								margin-left: 25px;
							}
							#button_icon_prev{
								background-repeat: no-repeat;
								@include yep(svg){
									background-image: url($arrow_left_svg);
								}
								
								@include nope(svg){
									background-image: url($arrow_left_png);
								}
								width: 13px;
							}
							
							//Lightbox Button Hoverstates
							&:hover, &:focus, &:active{
								#button_icon_close{
									@include yep(svg){
										background-image: url($close_button_hover_svg);
									}
									@include nope(svg){
										background-image: url($close_button_hover_png);
									}
									background-position: center center;
									background-repeat: no-repeat;
								}
                                
								#button_icon_next{
									@include yep(svg){
										background-image: url($arrow_right_hover_svg);
									}
									
									@include nope(svg){
										background-image: url($arrow_right_hover_png);
									}
								}
								
								#button_icon_prev{
									@include yep(svg){
										background-image: url($arrow_left_hover_svg);
									}
									
									@include nope(svg){
										background-image: url($arrow_left_hover_png);
									}
								}
							}
						}
					}
					.top_lightbox_buttons{
						top:75px;
						@include breakpoint(mobile tablet){
							top: 0;
						}
						@include breakpoint(desktop){
							top: 75px;
						}
					}
                    
					.bottom_lightbox_buttons{
						display: block;
						top:200px;
						@include breakpoint(mobile){
							display: none;
						}
						@include breakpoint(tablet){
							display: block;
							top: 200px;
						}
						@include breakpoint(desktop){
							display: block;
							top: 200px;
						}
					}
				}
                
				.lightbox_button_wrap_right {
					right: 0;
				}
				.lightbox_button_wrap_left{
					left: 0;
				}
				
				@include span(10);
				@include offset(1);
				@include breakpoint(mobile){
					@include span(12);
					@include offset(0);
				}
				
				background-color: lighten($accent_color, 10);
				height: 100%;
				overflow: hidden;
				#lightbox_inner_content_wrap{
					@include row();
					overflow: hidden;
					#lightbox_inner_content{
						@include span(10);
						@include breakpoint(mobile){
							@include span(12);
							@include offset(0);
						}
						@include offset(1);
						overflow: hidden;
                        .lightbox_image{
                            #img_container{
                                margin-bottom: 20px;
                            }
                            img {
                                max-width: 100%;
                            }
                        }
						#lightbox_content{
						
							text-align:center;
							padding-top: 75px;
							padding-bottom: 75px;
							h2{
								text-align: center;
								text-transform: uppercase;
								font-weight: bold;
							}
							h2, h3, h4{
								@include accentFont();
								font-weight: bold;
								margin-bottom: 25px;
								margin-left: auto;
								margin-right:auto;
								text-transform: uppercase;								
							}
							
							h3#citation_title{
								margin-bottom: 0;
								text-align:left;
							}
						
							h4#citation_subtitle{
								margin-bottom: 30px;
								text-align:left;
							}
							
							h5, h6, h7{
								@include bodyFont();
								font-weight: bold;
							}
							p{
								margin-bottom: 30px;
							}
						
							@include breakpoint(mobile){
								padding-left: 10px;
								padding-right: 10px;
							}
							@include breakpoint(tablet){
							}
							@include breakpoint(desktop){
							}
							
							h2{
								@include header_4();
								@include bodyFont();
								text-align: left;
								text-transform: none;
								margin-bottom: 10px;
								
							}
						}
					}
				}
			}
		}
	}
}

