#top_bar {
  background-color: $conflict-color;
  height: 50px;
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  z-index: 8500;
  &.collapsed {
    @include collapsed;
  }
  @include breakpoint(desktop) {
    height: 50px;
  }

  @include breakpoint(sm_desktop) {
    @include collapsed;
  }

  @include breakpoint(big_tablet tablet mobile) {
    height: 66px;
    @include collapsed;
  }

  .top_bar_container {
    position: relative;
  }
  #johnson_logo {
    float: left;
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    height: 40px;
    margin-left: 20px;
    margin-top: 5px;
    width: 462px;
    padding-right: 10px;
    @include yep(highresdisplay) {
      background-image: url($logo);
      background-size: 462px 40px;
      @include breakpoint(big_tablet tablet mobile) {
        background-image: url($stacked-logo);
        background-size: 211px 40px;
        width: 211px;
      }

      //@include breakpoint(sub_mobile) {
//        background-image: url($stacked-logo-abbrev);
//        background-size: 211px 40px;
//        width: 211px;
//      }
    }

    @include nope(highresdisplay) {
      background-image: url($logo-sprite);
      background-position: 0 0;
      @include breakpoint(big_tablet tablet mobile) {
        padding-bottom: 5px;
        background-position: 0 -42px;
        width: 211px;
      }

      //@include breakpoint(sub_mobile) {
//        background-position: 0 -80px;
//        width: 211px;
//      }
    }

    @include breakpoint(big_tablet tablet mobile) {
      height: 40px;
      margin-top: 15px;
    }
  }
  #menu_button {
    background-color: darken($conflict-color, 10);
    cursor: pointer;
    display: none;
    padding: 22px;
    position: absolute;
    top: 0;
    right: 0;
    .line {
      border-top: 4px solid white;
      margin-bottom: 5px;
      width: 22px;
      display: block;
      &.last {
        margin-bottom: 0;
      }
    }
    @include breakpoint(big_tablet tablet mobile) {
      display: block;
    }
  }
  #menu {
    position: fixed;
    display: block;
    top: 30px;
    right: 0px;
    z-index: 8600;
    @include accentFont;
    &.collapsed {
      @include collapsed;
    }
    @include breakpoint(sm_desktop) {
      @include collapsed;
    }

    @include breakpoint(big_tablet tablet mobile) {
      height: 100%;
      right: -66px;
      width: 0;
      @include collapsed;
    }

    #menu_inner {
      background-color: $conflict-color;
      color: white;
      overflow: hidden;
      @include breakpoint(big_tablet tablet mobile) {
        height: 100%;
        white-space: nowrap;
      }

      .menu_section {
        float: left;
        position: relative;
        a {
          color: white;
          display: block;
          padding: 14px 20px;
          text-transform: uppercase;
          font-weight: bold;
        }
        &:hover, &:focus {
          background-color: darken($conflict-color, 10);
        }
        &.active {
          background-color: darken($conflict-color, 10);
        }
        @include breakpoint(big_tablet tablet mobile) {
          float: none;
          &:hover, &:focus {
            background-color: darken($conflict-color, 10);
          }
        }
      }
    }
  }
}
